<div class="modal-backdrop" (click)="closeModal()"></div>

<div class="modal-content">
  <button class="close-btn" (click)="closeModal()">×</button>

  <ng-container *ngIf="!sent; else successTemplate">
    <h2>Hablemos de <span>{{ selectedPlan }}</span></h2>

    <form #form="ngForm" (ngSubmit)="submitForm(form)" novalidate>
      <input type="hidden" name="plan" [value]="selectedPlan" />

      <label>
        <input
          name="name"
          type="text"
          placeholder="Mi nombre es"
          required
          ngModel
        />
      </label>

      <label>
        <input
          name="email"
          type="email"
          placeholder="Mi email es"
          required
          ngModel
        />
      </label>

      <label>
        <textarea
          name="message"
          placeholder="Cuéntame más sobre tu proyecto:"
          required
          ngModel
        ></textarea>
        <input
          type="text"
          name="honeypot"
          autocomplete="off"
          tabindex="-1"
          style="display: none"
          ngModel
        />
      </label>

      <app-button
        label="Enviar"
        variant="primary"
        type="submit"
        [disabled]="sending"
      ></app-button>
    </form>
  </ng-container>

  <ng-template #successTemplate>
    <div class="success-message">
      <h3>¡Enviado correctamente!</h3>
      <p>Gracias por contactar, pronto recibirás una respuesta</p>
    </div>
  </ng-template>
</div>
