<div class="modal-backdrop" (click)="closeModal()"></div>

<div class="modal-content">
  <button class="close-btn" (click)="closeModal()">×</button>
  <h2>Hablemos de <span>{{ plan }}</span></h2>

  <form action="https://formspree.io/f/xblkojkd" method="POST" target="_blank">
    <input type="hidden" name="plan" [value]="selectedPlan" />

    <label>
      <input name="name" type="text" placeholder="Mi nombre es" required />
    </label>

    <label>
      <input name="email" type="email" placeholder="Mi email es" required />
    </label>

    <label>
      <textarea
        name="message"
        placeholder="Cuéntame más sobre tu proyecto."
        required
      ></textarea>
      <label style="display: none">
        <input type="text" name="honeypot" autocomplete="off" tabindex="-1" />
      </label>
    </label>

    <app-button label="Enviar" variant="primary" type="submit"></app-button>
  </form>
</div>
