<div class="about" id="about">
  <div class="sentence">
    <p>Soy Paula, diseñadora y desarrolladora frontend.</p>
    <p #rightText class="right">
      Creo webs que
      <span class="white">
        reflejan quién eres y por qué importa lo que haces.</span
      >
    </p>
  </div>
  <h2 class="section-title">Sobre mí</h2>
  <div class="info">
    <img #aboutImage src="/assets/img/about-img.jpg" alt="" />
    <div class="text">
      <p>
        Me apasiona el <strong>diseño funcional</strong>,
        <strong>limpio</strong> y <strong>con chispa</strong>. <br />
        Vivo en <strong>Granada</strong>, aunque
        <strong>trabajo en remoto</strong> con personas de todas partes.
      </p>
      <p>
        Empecé formándome como <strong>diseñadora gráfica</strong> y he ido
        complementando mi perfil con el <strong>desarrollo frontend</strong> en
        una startup. Esta mezcla me permite entender tanto lo
        <strong>visual</strong> como lo <strong>técnico</strong> y busco dejar
        mi huella <strong>combinando ambas disciplinas</strong>.
      </p>
      <p>
        Me gusta inventarme mis propias reglas: encuentro
        <strong>soluciones que funcionan bien</strong>, aunque
        <strong>se salgan</strong> un poco <strong>del molde</strong>.
      </p>
      <p>
        Para mí, <strong>el diseño</strong> es una forma de
        <strong>comunicación directa</strong>: debe ser <strong>claro</strong>,
        pero también <strong>emocional</strong>. Una
        <strong>buena web</strong> no solo <strong>se ve bien</strong>, también
        <strong>se siente bien</strong>. Mi enfoque mezcla
        <strong>estrategia</strong>, <strong>estética</strong> y
        <strong>personalidad</strong>.
      </p>
    </div>
  </div>

  <app-skills />
</div>
