$violet: #8879ce;
$white: #ffffff;
$orange: #ff692d;

.about {
  cursor: default;
  position: relative;
  width: 80%;
  margin: auto;
  margin-bottom: 60px;

  .sentence {
    color: $orange;
    font-size: 19px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 70px;

    p {
      opacity: 0;
      transform: translateY(60px);
      transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1),
        transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    }
    p.reveal {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .section-title {
    font-size: 24px;
    margin-top: 120px;
    margin-bottom: 50px;
  }

  img {
    position: absolute;
    top: 0;
    right: -105px;
    width: 50%;
    z-index: -1;
  }

  .right {
    position: absolute;
    right: 32px;
  }
  .responsive {
    display: none;
  }
  .white {
    color: white;
  }

  .text {
    width: 51%;
    text-align: justify;

    p {
      font-size: 18px;
      margin-bottom: 17px;
    }
  }
}

@media (max-width: 2560px) {
  .about {
    margin-bottom: 400px;
    .sentence {
      font-size: 32px;
    }
    .section-title,
    .about,
    h2 {
      font-size: 44px;
    }
    .text p {
      font-size: 29px;
    }
    .skills {
      position: relative;
      top: 250px;
    }
  }
}

@media (max-width: 1900px) {
  .about {
    margin-bottom: 150px;
    .sentence {
      font-size: 25px;
    }
    .section-title,
    .about,
    h2 {
      font-size: 30px;
    }
    .text p {
      font-size: 22px;
    }
    .skills {
      position: relative;
      top: 60px;
    }
  }
}
@media (max-width: 1600px) {
  .about {
    margin-bottom: 95px;
    .sentence {
      font-size: 21px;
    }
    .section-title,
    .about,
    h2 {
      font-size: 30px;
    }
    .text p {
      font-size: 16px;
    }
    .skills {
      position: relative;
      top: 50px;
    }
  }
}

@media (max-width: 1440px) {
  .about {
    margin-bottom: 95px;
    .sentence {
      font-size: 19px;
    }
    .section-title,
    .about,
    h2 {
      font-size: 30px;
    }
    .text p {
      font-size: 16px;
    }
    .skills {
      position: relative;
      top: 0;
    }
  }
}

@media (max-width: 1024px) {
  .section-title,
  .about,
  h2 {
    margin-top: 0 !important;
  }
  .sentence {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;

    p.right.reveal {
      display: none;
    }
    .responsive {
      display: block;
      text-align: right;
      margin-left: 84px;
    }
  }
  .info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 48px;

    img {
      display: block;
      position: static;
      width: 40%;
      min-width: 160px;
      max-width: 330px;
      height: auto;
      object-fit: cover;
      margin: 0;
    }

    .text {
      width: 60%;
      min-width: 0;
      text-align: justify;

      p {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    h2 {
      font-size: 24px !important;
      margin-left: 152px;
    }
  }
  .about {
    width: 100%;
  }
  .about .sentence {
    font-size: 16px;
    margin: 20px;
  }
  .info .text {
    margin-right: 60px;
  }
}

@media (max-width: 480px) {
  .about {
    width: 100% !important;
  }
  .about .sentence {
    font-size: 14px;
  }
  .about .section-title {
    margin-left: 20px;
  }
  .responsive {
    width: 74%;
  }
  .info {
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    img {
      width: 60%;
      min-width: unset;
      max-width: 100%;
      margin-bottom: 18px;
    }
    .text {
      margin-right: 150px;
    }
  }
}

@media (max-width: 380px) {
  .info .text {
    padding-left: 20px;
    margin-right: 130px;
  }
}

@media (max-width: 320px) {
}
