<div class="footer-content">
  <img
    class="logo"
    src="assets/img/paulalaestrella.png"
    alt="paulala | diseño web"
  />
  <div class="links">
    <a href="https://www.linkedin.com/in/paula-luengo-almarza" target="_blank"
      ><img
        src="assets/img/linkedin-orange.svg"
        alt="linkedin: paula luengo almarza"
    /></a>
    <a href="mailto:94paulala@gmail.com"
      ><img src="assets/img/mail-orange.svg" alt="email: 94paulala@gmail.com"
    /></a>
  </div>
  <p>paulala.es 2025</p>
</div>
