<nav class="navbar">
  <ul class="navbar__list">
    <li><a href="#about" class="navbar__link" (click)="scrollToSection($event, '#about')">Sobre mí</a></li>
    <li><a href="#projects" class="navbar__link" (click)="scrollToSection($event, '#projects')">Proyectos</a></li>
    <li><a href="#tariffs" class="navbar__link" (click)="scrollToSection($event, '#tariffs')">Tarifas</a></li>
    <li><a href="#faq" class="navbar__link" (click)="scrollToSection($event, '#faq')">FAQ</a></li>
    <li><a href="#contact" class="navbar__link" (click)="scrollToSection($event, '#contact')">Contacto</a></li>
  </ul>
</nav>