<div class="hero-big">
  <div class="logo">
    <div class="mask-wrap paulala">
      <span>
        <img src="/assets/img/logo-paulala.svg" alt="paulala" />
      </span>
    </div>
    <div class="mask-wrap disenyo">
      <span>
        <img src="/assets/img/logo-disenyo.svg" alt="diseño y" />
      </span>
    </div>
    <div class="mask-wrap desarrollo">
      <span>
        <img src="/assets/img/logo-desarrollo.svg" alt="desarrollo" />
      </span>
    </div>
    <div class="mask-wrap web">
      <span>
        <img src="/assets/img/logo-web.svg" alt="web" />
      </span>
    </div>
  </div>
</div>
