$violet: #8879ce;
$white: #ffffff;
$orange: #ff692d;

.hero {
  h1 {
    font-weight: 800;
    font-size: 315px;
    line-height: 286px;
    padding: 0 5px;
    color: $violet;
  }
  span {
    display: inline-block;
    position: relative;
  }

  .bg {
    font-weight: 800;
    font-size: 315px;
    line-height: 286px;
    color: $white;
    background-color: $violet;
    padding-top: 70px;
    text-align: right;
    overflow: hidden;
  }

  .bg > .mask-wrap[data-text="DISEÑO"] span,
  .bg > .mask-wrap.small span {
    line-height: 1.2em !important;
  }
  .small {
    line-height: 0.9;
    font-size: 190px;
  }
  .top {
    padding-top: 0;
    margin-top: -73px;
  }
}
.mask-wrap {
  display: inline-block;
  overflow: hidden;

  span {
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    display: inline-block;
    transform: translateY(100%);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    backface-visibility: hidden;
  }
  &.in-view span {
    transform: translateY(0%);
  }
}

@media (max-width: 1024px) {
  .hero {
    h1 {
      font-size: 212px;
      line-height: 171px;
    }
    .bg {
      font-size: 212px;
      line-height: 171px;
      padding-top: 35px;
    }
    .small {
      font-size: 127px;
    }
    p.bg.top {
      .mask-wrap.small {
        font-size: 139px;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    h1 {
      font-size: 159px;
      line-height: 127px;
    }
    .bg {
      font-size: 159px;
      line-height: 127px;
    }
    .small {
      font-size: 127px;
    }
    p.bg.top {
      .mask-wrap.small {
        font-size: 102px;
      }
    }
  }
}

@media (max-width: 480px) {
  .hero {
    h1 {
      font-size: 87px;
      line-height: 79px;
    }
    .bg {
      font-size: 87px;
      line-height: 79px;
    }
    .small {
      font-size: 69px;
    }
    p.bg.top {
      .mask-wrap.small {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 375px) {
  .hero {
    h1 {
      font-size: 77px;
      line-height: 70px;
    }
    .bg {
      font-size: 77px;
      line-height: 70px;
    }
    .small {
      font-size: 69px;
    }
    p.bg.top {
      .mask-wrap.small {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 320px) {
  .hero {
    h1 {
      font-size: 65px;
      line-height: 56px;
    }
    .bg {
      font-size: 65px;
      line-height: 56px;
    }
    .small {
      font-size: 43px;
    }
    p.bg.top {
      .mask-wrap.small {
        font-size: 41px;
        margin-top: 25px;
      }
    }
  }
}
