<div class="hero">
    <h1>
        <span class="animate__animated delay-1" [class.animate__bounceInUp]="animate" data-text="PAULA">
            PAULA
        </span><br />
        <span class="animate__animated delay-2" [class.animate__bounceInUp]="animate" data-text="LUENGO">
            LUENGO
        </span><br />
        <span class="animate__animated delay-3" [class.animate__bounceInUp]="animate" data-text="ALMARZA">
            ALMARZA
        </span>
    </h1>

    <p class="bg">
        <span class="animate__animated delay-4" [class.animate__bounceInUp]="animate" data-text="DISEÑO">
            DISEÑO
        </span>
        <span class="small animate__animated delay-5" [class.animate__bounceInUp]="animate" data-text="&">
            &
        </span>
    </p>

    <p class="bg top">
        <span class="small animate__animated delay-6" [class.animate__bounceInUp]="animate" data-text="DESARROLLO">
            DESARROLLO
        </span><br />
        <span class="animate__animated delay-7" [class.animate__bounceInUp]="animate" data-text="WEB">
            WEB
        </span>
    </p>


</div>