<div class="hero">
  <h1>
    <span class="mask-wrap" data-text="paulala"><span>paulala</span></span>
  </h1>

  <div class="logo">
    <div class="mask-wrap">
      <span>
        <img src="/assets/img/diseno.svg" alt="diseño" />
      </span>
    </div>
    <div class="mask-wrap">
      <span>
        <img src="/assets/img/desarrollo.svg" alt="desarrollo" />
      </span>
    </div>
    <div class="mask-wrap web">
      <span>
        <img src="/assets/img/web.svg" alt="web" />
      </span>
    </div>
  </div>
</div>
