$violet: #8879ce;
$white: #ffffff;
$orange: #ff692d;

.hero {
  position: relative;
  h1 {
    font-weight: 800;
    font-size: 70px;
    padding: 0 5px;
    color: $violet;
    width: 50%;
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: center;
    span {
      position: relative;
      top: 14px;
      z-index: 1;
    }
  }
  .logo {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 1;
  }
  .web {
    z-index: 1;
    position: relative;
    bottom: 137px;
  }
  span {
    display: inline-block;
    position: relative;
  }

  .bg {
    font-weight: 800;
    font-size: 70px;
    color: $white;
    background-color: $violet;
    text-align: right;
    overflow: hidden;
    position: relative;
    top: -120px;
  }

  .bg > .mask-wrap[data-text="DISEÑO"] span,
  .bg > .mask-wrap.small span {
    line-height: 1.2em !important;
  }
}
.mask-wrap {
  display: inline-block;
  overflow: hidden;

  span {
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    display: inline-block;
    transform: translateY(100%);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    backface-visibility: hidden;
  }
  &.in-view span {
    transform: translateY(0%);
  }
}

// @media (max-width: 1140px) {
//   .hero {
//     h1 {
//       font-size: 298px;
//     }
//     .bg {
//       font-size: 298px;
//     }
//   }
// }

// @media (max-width: 1024px) {
//   .hero {
//     h1 {
//       font-size: 212px;
//       line-height: 171px;
//     }
//     .bg {
//       font-size: 212px;
//       line-height: 171px;
//       padding-top: 35px;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .hero {
//     h1 {
//       font-size: 159px;
//       line-height: 127px;
//     }
//     .bg {
//       font-size: 159px;
//       line-height: 127px;
//     }

//   }
// }

// @media (max-width: 480px) {
//   .hero {
//     h1 {
//       font-size: 87px;
//       line-height: 79px;
//     }
//     .bg {
//       font-size: 87px;
//       line-height: 79px;
//     }
//   }
// }
// @media (max-width: 430px) {
//   .hero {
//     h1 {
//       font-size: 77px !important;
//       line-height: 70px !important;
//     }
//     .bg {
//       font-size: 77px !important;
//       line-height: 70px !important;
//     }
//   }
// }

// @media (max-width: 370px) {
//   .hero {
//     h1 {
//       font-size: 66px !important;
//       line-height: 70px !important;
//     }
//     .bg {
//       font-size: 66px !important;
//       line-height: 70px !important;
//     }

//   }
// }

// @media (max-width: 320px) {
//   .hero {
//     h1 {
//       font-size: 55px !important;
//       line-height: 55px !important;
//     }
//     .bg {
//       font-size: 65px !important;
//       line-height: 56px !important;
//     }

//   }
// }
