@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;800&display=swap");

$violet: #8879ce;
$white: #ffffff;
$orange: #ff692d;

body {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 1024px) {
  .occult {
  }
}

// @media (max-width: 768px) {

// }

// @media (max-width: 480px) {

// }

// @media (max-width: 320px) {
//
// }
