@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;800&display=swap");

$violet: #8879ce;
$white: #ffffff;
$orange: #ff692d;

body {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  background-color: #ff682d;
}
html {
  scroll-behavior: smooth;
}
#smooth-wrapper {
  height: 100vh;
  overflow: hidden;
}

#smooth-content {
  min-height: 100%;
  will-change: transform;
}
