$violet: #8879ce;

.skills {
  margin-left: 40px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 130px;
    flex-wrap: wrap;
    gap: 15px;
  }

  li {
    border: 2px solid $violet;
    padding: 15px 20px;
    box-shadow: 2px 4px 6px rgba(136, 121, 206, 0.36);
    color: $violet;
    font-size: 17px;
    font-weight: 800;

    opacity: 0;
    transform: translateY(90px);
    clip-path: inset(40% 0 0 0);
    transition: transform 0.35s linear, opacity 0.35s linear,
      clip-path 0.35s linear, box-shadow 0.3s linear;

    &.animate {
      opacity: 1;
      transform: translateY(0);
      clip-path: inset(0 0 0 0);
    }

    &:hover {
      color: white;
      background-color: $violet;
      transform: translateY(-3px);
      box-shadow: 2px 6px 12px rgba(136, 121, 206, 0.5);
    }
  }

  .bg {
    color: white;
    background-color: $violet;

    &:hover {
      color: $violet;
      background-color: white;
      transform: translateY(-3px);
    }
  }
}

@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(30px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(10px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
