$violet: #8879ce;

.skills {
  margin-left: 40px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 130px;
    flex-wrap: wrap;
    gap: 15px;
  }

  li {
    border: 2px solid $violet;
    padding: 15px 20px;
    box-shadow: 2px 4px 6px rgba(136, 121, 206, 0.36);
    color: $violet;
    font-size: 17px;
    font-weight: 800;

    /* Estado inicial (GSAP lo usa) */
    opacity: 0;
    transform: translateY(90px);

    &:hover {
      color: white;
      background-color: $violet;
      transform: translateY(-3px);
      box-shadow: 2px 6px 12px rgba(136, 121, 206, 0.5);
    }
  }

  .bg {
    color: white;
    background-color: $violet;

    &:hover {
      color: $violet;
      background-color: white;
      transform: translateY(-3px);
    }
  }
}

/* 🔹 RESPONSIVE BREAKPOINTS */
@media (max-width: 2560px) {
  .skills {
    li {
      font-size: 36px;
    }
  }
}
@media (max-width: 1900px) {
  .skills {
    li {
      font-size: 24px;
    }
  }
}
@media (max-width: 1600px) {
  .skills {
    li {
      font-size: 16px;
    }
  }
}
@media (max-width: 1440px) {
  .skills {
    li {
      font-size: 16px;
    }
  }
}
@media (max-width: 1280px) {
  .skills {
    li {
      font-size: 14px;
    }
  }
}
@media (max-width: 1180px) {
  .skills {
    li {
      font-size: 13px;
    }
  }
}
@media (max-width: 1140px) {
  .skills {
    li {
      padding: 5px;
    }
  }
}
@media (max-width: 1024px) {
  .skills {
    margin-left: 0;
    ul {
      margin-top: 30px;
      gap: 5px;
      justify-content: center;
    }
    li {
      font-size: 14px;
    }
  }
}
@media (max-width: 768px) {
  li {
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  .skills {
    margin-bottom: -298px !important;
    ul {
      position: relative !important;
      bottom: 226px;
      left: 140px;
      margin: auto;
      margin-top: 20px;
      flex-wrap: wrap;
      width: 18%;
      text-align: center;
      gap: 15px;
      flex-direction: column;
    }
  }
}
@media (max-width: 450px) {
  .skills {
    ul {
      bottom: 272px;
      left: 120px;
    }
  }
}
@media (max-width: 380px) {
  .skills {
    ul {
      bottom: 272px;
      left: 77px;
    }
  }
}
